#egg1
{
    top:30%;
    left:350px;
    width:400px;
    height:400px;
    position: absolute;
    animation : a linear 3s;
    background-image: url("../deokdam/5-2.png");
    opacity:0;
}
@keyframes a{
    from
    {
        left:350px;
        opacity:1;
    }
    to
    {
        left:250px;
        opacity:0;
    }
}
#egg2
{
    top:30%;
    left :750px;
    width:400px;
    height:400px;
    position: absolute;
    animation : b linear 3s;
    background-image:url("../deokdam/6-2.png");
    opacity:0;
}
@keyframes b{
    from
    {
        left:750px;
        opacity:1;
    }
    to
    {
        left:850px;
        opacity:0;
    }
}

img{
    top:43%;
    left:450px;
    position: absolute;
}
#head{
    top:10%;
    left:450px;
    position:absolute;
    width:590px;
    height:100px;
    background-image: url("../deokdam/1.png");
}
#duck
{
    top : 38%;
    left:0px;
    width:580px;
    height:463px;
    position:absolute;
    background-image: url("../deokdam/KakaoTalk_20211231_232309251.png");
}

